name: ci

on:
  push:
    branches:
      - master
    tags:
    paths:
      - ".github/workflows/ci.yml"
      - "!**.md"
  pull_request:
    paths:
      - ".github/workflows/ci.yml"
      - "!**.md"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: set up go 1.20
        uses: actions/setup-go@v2
        with:
          go-version: 1.20
        id: go

      - name: checkout
        uses: actions/checkout@v2

      - name: build and test
        run: |
          make ci
        env:
          GO111MODULE: "on"
          TZ: "Europe/Poland"

      - name: setup Docker Buildx
        if: github.ref == 'refs/heads/master'
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: setup QEMU
        if: github.ref == 'refs/heads/master'
        uses: docker/setup-qemu-action@v1
